*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #e0f7fa, #80deea, #26c6da);
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    padding: 15px 30px;
    color: #fff;
}

.nav_left h1 {
    margin: 0;
    font-size: 24px;
    color: #f0f0f0;
}

.nav_right a {
    color: #f0f0f0;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.nav_right a:hover{
    color: #ff4e0d;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: fit-content;
}

.element {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.element input{
    width: 400px;
    height: 25px;
    border: none;
    border-bottom: 1px solid black;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn input[type="submit"]{
    background-color: #b9b9ff;
    border: 2px solid #1e1e2f;
    width: 150px;
    height: 40px;
    border-radius: 20px 0px;
    cursor: pointer;
    padding: 8px;
}

.btn input[type="submit"]:hover{
    background-color: #2a2a43;
    color: white;
}

.btn input[type="submit"]:active {
    transform: scale(0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

footer{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 20px;
    font-family: 'Winky Rough', sans-serif;
    color: #d1d1d1;
}
