body
{
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container
{
    position: relative;
    top: 50%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 40%;
    text-align: center;
    color: rgb(35, 35, 129);
    padding: 10px;
    border-radius: 10px;
}
.regForm{
    width: 90%;
    padding: 20px;
    text-align: center;
    margin: auto;
}
#dates td{
    width: 50%;
}
tr{
    padding: 5px 0px;
}
table{
    margin: auto;
    text-align: left;
    width: 90%;
}
.infoLabel
{
   font-size: 0.75rem; 
}
input{
    height: 1.5rem;
}
#info_mail{
    height: 1rem;
}
