body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #80deea, #26c6da);
    height: 100%;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
}

.nav_left h1 {
    margin: 0;
    font-size: 24px;
    color: #f0f0f0;
}

.nav_right a {
    color: #f0f0f0;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav_right a:hover {
    color: #4fc3f7;
}

footer{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px 20px;
    font-family: 'Winky Rough', sans-serif;
    color: #d1d1d1;
}

.error {
    color: red;
    font-size: 14.4px;
}
