body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:turquoise; 
    background-size: cover;
    color: #333;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    margin-top: 30px;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 40px auto;
    background-color:cyan;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

td {
    padding: 10px;
    vertical-align: middle;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] ,
input[type="tel"] {
    width: 95%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color:tomato;
}
