.container
{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: lightgray;
    border-radius: 5%;
    text-align: center;
    width: min-content;
    padding: 5%;
}